
{% extends "layout.html" %}

{% block content %}
<div>
    <h4><a class="media-heading">PROJECT: {{ proj.projectName }}</a></h4>
</div>
<div>
    <div class="row">
        <article class="content-section">
        <div class="media-body">
        <form action="/projectsAll/project" method="POST">
            <button class="homepage-button" type="submit" name="action" value="viewDatafile">
                <h5><b>View Datafile</b></h5>
                <i>{{ proj.datafileName }}</i>
            </button>
        </form>
        </div>
        </article>
        <article class="content-section">
        <div class="media-body">
        <form action="/projectsAll/project" method="POST">
            <button class="homepage-button" type="submit" name="action" value="EDA">
                <h5><b>Exploratory Data Analysis</b></h5>
                <i>Charting</i>
            </button>
        </form>
        </div>
        </article>
    </div>

</div>

<div>
    <h4><a class="media-heading">MODELS:</a></h4>
    <div class="row">
        <article class="content-section">
        <div class="media-body">
        <form action="/projectsAll/project" method="POST">
            <button class="homepage-button" type="submit" name="action" value="trainNewModel">
                <h5><b>Train New Model</b></h5>
                <i>Define model pipeline</i>
            </button>
        </form>
        </div>
        </article>


    </div>
</div>
<div class="row">
<!--<div>-->
	{% for mod in models %}
<!--		<article class="media content-section">-->
			<article class="content-section">
		  <div class="media-body">
			  <form action="/projectsAll/project" method="POST">
				  <button class="homepage-button" type="submit" name="action" value="{{ mod }}">
					  <h5><b>{{ mod.model_file }}</b></h5>
					  <i>uploaded ON {{ mod.uploadedon }}<br>
						  <p>Model Type: {{ mod.model_type }}
					  </i><br>
				  </button>
			  </form>
		  </div>
		</article>
	{% endfor %}
</div>
{% endblock content %}