
{% extends "layout.html" %}

{% block content %}
    <div>
        <h5><b>Best fit model:</b></h5>

        <div>
<!--    {{ proj.datafile }}-->
 <table>
        <thead>

          <tr>
            {% for col in titles %}
            <th>

              {{col}}

            </th>
            {% endfor %}
          </tr>

        </thead>
        <tbody>
          {% for row in tables %}
          <tr>
            {% for col, row_ in zip(titles, row) %}
            <td>{{row_}}</td>
            {% endfor %}
          </tr>
          {% endfor %}


        </tbody>

      </table>
</div>
    </div>
    <div>
    <h5>Area Under Curve</h5>
			  <img src="{{ url_for('static', filename='AUC.png') }}" alt="AUC" style="width:817px;height:457px;">
	</div>
      <div>
      <h5>Confusion Matrix</h5>
			  <img src="{{ url_for('static', filename='Confusion Matrix.png') }}" alt="Confusion_matrix" style="width:317px;height:257px;">
	</div>
    <div>
        <h4><a class="media-heading" href="/projectsAll/project/trainedModelDetail/saveModel" >Save Model</a></h4><br>
    </div>

{% endblock content %}